node-red flows.json
[{"id":"536b5b6f.9aa754","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f796bf.a168198","type":"ui_tab","name":"IoT Input ","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"762ae4de.14df3c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"AI Assisted Farming UI","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e82254d4.36a178","type":"ui_group","name":"IoT Sensor Input ","tab":"8f796bf.a168198","order":2,"disp":true,"width":"10","collapse":false},{"id":"d7ccfee7.22aba","type":"ui_tab","name":"User Input","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"81684d41.3cef8","type":"ui_group","name":"User Inputs","tab":"d7ccfee7.22aba","order":1,"disp":true,"width":10,"collapse":false},{"id":"ed71139b.30de6","type":"ibmiot","name":"IOT Input","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5391dbea.a40d44","type":"ui_spacer","z":"536b5b6f.9aa754","name":"spacer","group":"10604038.7978d","order":1,"width":1,"height":1},{"id":"c096b2b9fc78c1af","type":"ui_tab","name":"Basic Instruction ","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b25ca80bba4cd962","type":"ui_group","name":"Basic Instructions","tab":"c096b2b9fc78c1af","order":1,"disp":true,"width":"10","collapse":false},{"id":"9b243344.2d316","type":"ibmiot in","z":"536b5b6f.9aa754","authentication":"apiKey","apiKey":"ed71139b.30de6","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":160,"wires":[["a955c8ac.8f06d8","f175cbae.09a2d8","962b023d.2a14e","19f7e37e.84f92d","5336f296.54a89c","c0a8bd96.8b7b4","5d88e32f.3d8ebc","a0444fef.a22a","2cd4a06c.0b378"]]},{"id":"f43d6a4e.6a6288","type":"ui_form","z":"536b5b6f.9aa754","name":"","label":"Give The Required Inputs.","group":"81684d41.3cef8","order":1,"width":0,"height":0,"options":[{"label":"\"N\"","value":"\"N\"","type":"number","required":true,"rows":null},{"label":"\"P\"","value":"\"P\"","type":"number","required":true,"rows":null},{"label":"\"K\"","value":"\"K\"","type":"number","required":true,"rows":null},{"label":"\"Temperature\"","value":"\"Temperature\"","type":"number","required":true,"rows":null},{"label":"\"Humidity\"","value":"\"Humidity\"","type":"number","required":true,"rows":null},{"label":"\"Ph\"","value":"\"Ph\"","type":"number","required":true,"rows":null},{"label":"\"Rainfall\"","value":"\"Rainfall\"","type":"number","required":true,"rows":null}],"formValue":{"\"N\"":"","\"P\"":"","\"K\"":"","\"Temperature\"":"","\"Humidity\"":"","\"Ph\"":"","\"Rainfall\"":""},"payload":"","submit":"Get Prediction","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"x":430,"y":500,"wires":[["2fd03e56.d26502","c5cdee2.0eed51"]]},{"id":"2fd03e56.d26502","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":500,"wires":[]},{"id":"a955c8ac.8f06d8","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"f175cbae.09a2d8","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":1,"width":0,"height":0,"name":"","label":"N","format":"{{payload.N}}","layout":"row-spread","x":470,"y":200,"wires":[]},{"id":"962b023d.2a14e","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":2,"width":0,"height":0,"name":"","label":"P","format":"{{payload.P}}","layout":"row-spread","x":470,"y":240,"wires":[]},{"id":"19f7e37e.84f92d","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":3,"width":0,"height":0,"name":"","label":"K","format":"{{payload.K}}","layout":"row-spread","x":470,"y":280,"wires":[]},{"id":"5336f296.54a89c","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":4,"width":0,"height":0,"name":"","label":"Temperature","format":"{{payload.Temperature}}","layout":"row-spread","x":490,"y":320,"wires":[]},{"id":"c0a8bd96.8b7b4","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":5,"width":0,"height":0,"name":"","label":"Humidity","format":"{{payload.Humidity}}","layout":"row-spread","x":480,"y":360,"wires":[]},{"id":"5d88e32f.3d8ebc","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":6,"width":0,"height":0,"name":"","label":"Ph","format":"{{payload.Ph}}","layout":"row-spread","x":470,"y":400,"wires":[]},{"id":"a0444fef.a22a","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":7,"width":0,"height":0,"name":"","label":"Rainfall","format":"{{payload.Rainfall}}","layout":"row-spread","x":480,"y":440,"wires":[]},{"id":"2cd4a06c.0b378","type":"ui_button","z":"536b5b6f.9aa754","name":"","group":"e82254d4.36a178","order":8,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":480,"y":160,"wires":[["c5cdee2.0eed51"]]},{"id":"c5cdee2.0eed51","type":"function","z":"536b5b6f.9aa754","name":"Global Variables","func":"global.set(\"N\",msg.payload.N)\nglobal.set(\"P\",msg.payload.P)\nglobal.set(\"K\",msg.payload.K)\nglobal.set(\"Temp\",msg.payload.Temperature)\nglobal.set(\"Hum\",msg.payload.Humidity)\nglobal.set(\"Ph\",msg.payload.Ph)\nglobal.set(\"Rain\",msg.payload.Rainfall)\nvar apikey=\"OpLzdJEm7dHrz5sfKHydhniJVqpVZ9_EragmOySuj5sU\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":160,"wires":[["5d20eb78.e71324"]]},{"id":"5d20eb78.e71324","type":"http request","z":"536b5b6f.9aa754","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":160,"wires":[["b365bbb2.ddb468","3b9cd2b4.17a5ee"]]},{"id":"b365bbb2.ddb468","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"3b9cd2b4.17a5ee","type":"function","z":"536b5b6f.9aa754","d":true,"name":"Pre Prediction ","func":"var N=global.get(\"N\")\nvar P=global.get(\"P\")\nvar K=global.get(\"K\")\nvar Temp=global.get(\"Temp\")\nvar Hum=global.get(\"Hum\")\nvar Ph=global.get(\"Ph\")\nvar Rain=global.get(\"Rain\")\nvar token=msg.payload.access_token\nmsg.headers={'Contect-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"N\", \"P\", \"K\",\"temperature\", \"humidity\",  \"ph\" ,\"rainfall\"]],\"values\": [[N,P,K,Temp,Hum,Ph,Rain]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":280,"wires":[["94aceed9.2bec7"]]},{"id":"94aceed9.2bec7","type":"http request","z":"536b5b6f.9aa754","d":true,"name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/e7f9cf81-ca48-4080-bd52-cfbb7b64f5b9/predictions?version=2021-08-14","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":280,"wires":[["e14c38d4.c69338","94b4cde1.2d3f2"]]},{"id":"e14c38d4.c69338","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":120,"wires":[]},{"id":"94b4cde1.2d3f2","type":"function","z":"536b5b6f.9aa754","name":"","func":"msg.payload=payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":280,"wires":[["357a85.ffba457c","eba5244e.67a208","e92dfd40.7cd41"]]},{"id":"357a85.ffba457c","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":160,"wires":[]},{"id":"eba5244e.67a208","type":"ui_text","z":"536b5b6f.9aa754","group":"e82254d4.36a178","order":9,"width":0,"height":0,"name":"","label":"Predicted Crop :-","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":240,"wires":[]},{"id":"e92dfd40.7cd41","type":"ui_text","z":"536b5b6f.9aa754","group":"81684d41.3cef8","order":2,"width":0,"height":0,"name":"","label":"Predicted Crop :-","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":320,"wires":[]},{"id":"82d11b78.984298","type":"ui_form","z":"536b5b6f.9aa754","name":"","label":"Fill The Required Inputs.","group":"81684d41.3cef8","order":5,"width":0,"height":0,"options":[{"label":"\"District_Name\"","value":"\"District_Name\"","type":"text","required":true,"rows":null},{"label":"\"Crop_Year\"","value":"\"Crop_Year\"","type":"number","required":true,"rows":null},{"label":"\"Area\"","value":"\"Area\"","type":"number","required":true,"rows":null},{"label":"\"Crop\"","value":"\"Crop\"","type":"text","required":true,"rows":null}],"formValue":{"\"District_Name\"":"","\"Crop_Year\"":"","\"Area\"":"","\"Crop\"":""},"payload":"","submit":"Get Prediction","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"x":450,"y":760,"wires":[["2afd9037.df525"]]},{"id":"cebe48d9.65f3e8","type":"ui_dropdown","z":"536b5b6f.9aa754","name":"","label":"Season","tooltip":"","place":"Select option","group":"81684d41.3cef8","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"\"Winter\"","value":"\"Winter\"","type":"str"},{"label":"\"Whole Year\"","value":"\"Whole Year\"","type":"str"},{"label":"\"Summer\"","value":"\"Summer\"","type":"str"},{"label":"\"Autumn\"","value":"\"Autumn\"","type":"str"},{"label":"\"Rabi\"","value":"\"Rabi\"","type":"str"},{"label":"\"Kharif\"","value":"\"Kharif\"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":400,"y":640,"wires":[["2afd9037.df525"]]},{"id":"66a2c44.3a76e3c","type":"ui_dropdown","z":"536b5b6f.9aa754","name":"","label":"State_Name","tooltip":"","place":"Select option","group":"81684d41.3cef8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"\"Andaman and Nicobar Islands\"","value":"\"Andaman and Nicobar Islands\"","type":"str"},{"label":"\"Andhra Pradesh\"","value":"\"Andhra Pradesh\"","type":"str"},{"label":"\"Assam\"","value":"\"Assam\"","type":"str"},{"label":"\"Bihar\"","value":"\"Bihar\"","type":"str"},{"label":"\"Chandighar\"","value":"\"Chandighar\"","type":"str"},{"label":"\"Chhattisgarh\"","value":"\"Chhattisgarh\"","type":"str"},{"label":"\"Dadra and Nagar Haveli\"","value":"\"Dadra and Nagar Haveli\"","type":"str"},{"label":"\"Goa\"","value":"\"Goa\"","type":"str"},{"label":"\"Gujarat\"","value":"\"Gujarat\"","type":"str"},{"label":"\"Hrayana\"","value":"\"Haryana\"","type":"str"},{"label":"\"Himachal Pradesh\"","value":"\"Himachal Pradesh\"","type":"str"},{"label":"\"Jammu and Kashmir\"","value":"\"Jammu and Kashmir\"","type":"str"},{"label":"\"Jharkhand\"","value":"\"Jharkhand\"","type":"str"},{"label":"\"Karnataka\"","value":"\"Karnataka\"","type":"str"},{"label":"\"Kerala\"","value":"\"Kerala\"","type":"str"},{"label":"\"Madhya Pradesh\"","value":"\"Madhya Pradesh\"","type":"str"},{"label":"\"Maharashtra\"","value":"\"Maharashtra\"","type":"str"},{"label":"\"Manipur\"","value":"\"Manipur\"","type":"str"},{"label":"\"Meghalaya\"","value":"\"Meghalaya\"","type":"str"},{"label":"\"Mizoram\"","value":"\"Mizoram\"","type":"str"},{"label":"\"Nagaland\"","value":"\"Nagaland\"","type":"str"},{"label":"\"Odisha\"","value":"\"Odisha\"","type":"str"},{"label":"\"Puducherry\"","value":"\"Puducherry\"","type":"str"},{"label":"\"Punjab\"","value":"\"Punjab\"","type":"str"},{"label":"\"Rajasthan\"","value":"\"Rajasthan\"","type":"str"},{"label":"\"Sikkim\"","value":"\"Sikkim\"","type":"str"},{"label":"\"Tamil Nadu\"","value":"\"Tamil Nadu\"","type":"str"},{"label":"\"Telangana\"","value":"\"Telangana\"","type":"str"},{"label":"\"Tripura\"","value":"\"Tripura\"","type":"str"},{"label":"\"Uttar Pradesh\"","value":"\"Uttar Pradesh\"","type":"str"},{"label":"\"Uttarakhand\"","value":"\"Uttarakhand\"","type":"str"},{"label":"\"West Bengal\"","value":"\"West Bengal\"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":410,"y":700,"wires":[["2afd9037.df525"]]},{"id":"54ba7ac.18bd584","type":"ui_text","z":"536b5b6f.9aa754","group":"81684d41.3cef8","order":5,"width":0,"height":0,"name":"","label":"Predicted Production :-","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":760,"wires":[]},{"id":"2afd9037.df525","type":"function","z":"536b5b6f.9aa754","name":"Global Variables 2","func":"global.set(\"Season\",msg.payload.Season)\nglobal.set(\"State\",msg.payload.State_Name)\nglobal.set(\"District\",msg.payload.District_Name)\nglobal.set(\"Year\",msg.payload.Crop_Year)\nglobal.set(\"Area\",msg.payload.Area)\nglobal.set(\"Crop\",msg.payload.Crop)\n\nvar apikey=\"OpLzdJEm7dHrz5sfKHydhniJVqpVZ9_EragmOySuj5sU\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":640,"wires":[["9c0b6b86.71c7f8"]]},{"id":"4a10869d.54f1a8","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":540,"wires":[]},{"id":"9c0b6b86.71c7f8","type":"http request","z":"536b5b6f.9aa754","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":640,"wires":[["4a10869d.54f1a8","9670a202.84625"]]},{"id":"9670a202.84625","type":"function","z":"536b5b6f.9aa754","d":true,"name":"Pre Prediction 2","func":"var Season=global.get(\"Season\")\nvar state=global.get(\"state\")\nvar District=global.get(\"District\")\nvar Year=global.get(\"Year\")\nvar Area=global.get(\"Area\")\nvar Crop=global.get(\"Crop\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Contect-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"State_Name\", \"District_Name\", \"Crop_Year\",\"Season\", \"Crop\",  \"Area\"]],\"values\": [[state,District,Year,Season,Crop,Area]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":760,"wires":[["72613101.c4175"]]},{"id":"72613101.c4175","type":"http request","z":"536b5b6f.9aa754","d":true,"name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/09277f21-4384-4c1d-97f7-0d1a6a267faa/predictions?version=2021-08-14","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":760,"wires":[["f51130f7.f8e06","7d5098df.0c63c8"]]},{"id":"f51130f7.f8e06","type":"function","z":"536b5b6f.9aa754","name":"","func":"msg.payload=payload.predictions[0].values[0][0]\nglobal.set(\"Yield\",payload.predictions[0].values[0][0])\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":760,"wires":[["54ba7ac.18bd584","5d1bfdd8.3566b4","22fd439b0b2db0e7"]]},{"id":"7d5098df.0c63c8","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":580,"wires":[]},{"id":"5d1bfdd8.3566b4","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":620,"wires":[]},{"id":"760de8f54cf2971a","type":"ui_text_input","z":"536b5b6f.9aa754","name":"Cultivation","label":"Cost Of Cultivation","tooltip":"","group":"81684d41.3cef8","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":410,"y":800,"wires":[["1d540f108ea177d9","ad070a750c02a2cb"]],"info":"payload.predictions[0].values[0][0]"},{"id":"1ac8e29607c15130","type":"ui_text_input","z":"536b5b6f.9aa754","name":"","label":"Support Price ","tooltip":"","group":"81684d41.3cef8","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":420,"y":960,"wires":[["c5c64a6e9c539bc8","95bea9a1cbba4d18"]]},{"id":"22fd439b0b2db0e7","type":"function","z":"536b5b6f.9aa754","name":"Profit Claculation","func":"var a=global.get(\"Cultivation\");\nvar b=global.get(\"Sprice\");\nvar c=global.get(\"Yield\");\n\nvar Profit = (c * b) - (a*b);\n\nmsg.payload={\"Profit\":Profit}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":880,"wires":[["5453a14779936a29","1e91d8b0e25c6a0f"]]},{"id":"6a25efa22dc55cd1","type":"ui_button","z":"536b5b6f.9aa754","name":"","group":"81684d41.3cef8","order":8,"width":0,"height":0,"passthru":false,"label":"Get Profit ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":660,"y":880,"wires":[["22fd439b0b2db0e7"]]},{"id":"5453a14779936a29","type":"ui_text","z":"536b5b6f.9aa754","group":"81684d41.3cef8","order":9,"width":0,"height":0,"name":"","label":"Profit ","format":"{{payload.Profit}}","layout":"row-spread","x":1090,"y":880,"wires":[]},{"id":"1d540f108ea177d9","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":800,"wires":[]},{"id":"c5c64a6e9c539bc8","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":1000,"wires":[]},{"id":"1e91d8b0e25c6a0f","type":"debug","z":"536b5b6f.9aa754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":940,"wires":[]},{"id":"818adf784156834f","type":"ui_template","z":"536b5b6f.9aa754","group":"b25ca80bba4cd962","name":"","order":0,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>\n<h3>There two main section of UI</h3>\n<h4>Use Navigation Pane on left side of window to navigate within tabs.</h4>\n<h3>-->User Input</h3>\n<h4>Here the user inputs all required infomation to get the results.</h4>\n<h4>All Inputs required.</h4>\n<h4>We have assumed that user inputs the valid data for crop prediction.</h4>\n<h4>For yield prediction select your state and season,then type your region in CAPITAL,year,area and crop name with first letter CAPITAL.</h4>\n<h4>Click on get prediction button to get results.</h4>\n<h4>For getting the profit input your cost of cultivation and support price given to you by gvernment and click to see your profit.</h4>\n<h3>-->IoT Input</h3> \n<h4>Here for getting the crop prediction we assume that there are IoT sensors placed in user's area and land.</h4>\n<h4>Which is sending the data to UI based on the user's location.</h4>\n<h4>Click on get prediction button to get the result.</h4>\n<h6>Designed By:[Anshuman Anand]</h6>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":400,"y":1080,"wires":[[]],"icon":"node-red-dashboard/ui_form.png"},{"id":"ad070a750c02a2cb","type":"function","z":"536b5b6f.9aa754","name":"","func":"global.set(\"Cultivation\",msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":860,"wires":[["6a25efa22dc55cd1"]]},{"id":"95bea9a1cbba4d18","type":"function","z":"536b5b6f.9aa754","name":"","func":"global.set(\"Sprice\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":900,"wires":[["6a25efa22dc55cd1"]]}]